@page "/{teamName}/{panelId}/{epicId}/graphic"
@using Dominio
@using Services
@using Syncfusion.Blazor
@inject EpicService EService
@inject NavigationManager Navigation

<h3>Gráficos de la Épica</h3>

<h4>Esfuerzo Estimado, Invertido y Restante</h4>
<SfChart>
    <ChartPrimaryXAxis Title="Esfuerzo" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />
    <ChartPrimaryYAxis Title="Tiempo (horas)" ValueType="Syncfusion.Blazor.Charts.ValueType.Double" />

    <ChartSeriesCollection>
        <ChartSeries DataSource="@EffortData" Type="ChartSeriesType.Column" XName="Epic" YName="EsfuerzoEsperado" Name="Esfuerzo Estimado"
                     Palette="@(new string[] { "#007bff" })" />

        <ChartSeries DataSource="@EffortData" Type="ChartSeriesType.Column" XName="Epic" YName="EsfuerzoInvertido" Name="Esfuerzo Invertido"
                     Palette="@(new string[] { "#28a745" })" />

        <ChartSeries DataSource="@EffortData" Type="ChartSeriesType.Column" XName="Epic" YName="EsfuerzoRestante" Name="Esfuerzo Restante"
                     Palette="@(new string[] { "#dc3545" })" />
    </ChartSeriesCollection>
</SfChart>

<h4>Estado de las Tareas de la Épica</h4>
<SfChart>
    <ChartPrimaryXAxis Title="Estado de Tareas" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />
    <ChartPrimaryYAxis Title="Cantidad" ValueType="Syncfusion.Blazor.Charts.ValueType.Double" />

    <ChartSeriesCollection>
        <ChartSeries DataSource="@TaskStatusData" Type="ChartSeriesType.Column" XName="Status" YName="Completed" Name="Tareas Finalizadas"
                     Palette="@(new string[] { "#28a745" })" />

        <ChartSeries DataSource="@TaskStatusData" Type="ChartSeriesType.Column" XName="Status" YName="NotCompleted" Name="Tareas No Finalizadas"
                     Palette="@(new string[] { "#dc3545" })" />
    </ChartSeriesCollection>
</SfChart>

<div class="mt-2">
    <div class="col-4 mt-4">
        <button class="btn btn-secondary" type="button" @onclick="GoBack">Volver</button>
    </div>
</div>

@code {
    [Parameter]
    public string epicId { get; set; }
    [Parameter]
    public string teamName { get; set; }
    [Parameter]
    public string panelId { get; set; }

    

    protected override void OnInitialized()
    {
        
    }
    
    private void GoBack()
    {
        Navigation.NavigateTo($"/{teamName}/{panelId}/tasks");
    }
}
