@page "/{teamName}/{panelId}/tasks"
@using Dominio
@using Dominio.Data
@inject PanelService PnService
@inject TaskService TkService
@inject ITeamDataBase TmDatabase
@inject Session Session
@inject NavigationManager Navigation
<PageTitle>Task</PageTitle>

<h3 class="mb-3">Tareas</h3>
<div class="row d-inline">
    <div class="col-4 d-inline">
        <button class="btn btn-primary" type="submit" @onclick="CreateTask">Crear Tarea</button>
    </div>
    @if (!Session.IsAdmin)
    {
        <div class="col-4 d-inline">
            <button class="btn btn-primary" type="submit" @onclick="GoToImport">Importar tareas desde .csv</button>
        </div>
    }
    <div class="col-4 w-100 d-inline">
        <button class="btn btn-primary" type="submit" @onclick="GoBack">Volver a Paneles</button>
    </div>
</div>
<div class="row">
    @if (Tasks.Count != 0)
    {
        foreach (var task in Tasks)
        {
            if (task.ExpirationDate > DateTime.Today)
            {
                <div class="d-flex justify-content-center align-items-center">
                    <div class="w-75">
                        <TaskCard Title="@task.Title"
                                  Description="@task.Description"
                                  Precedence="@task.Precedence"
                                  EndDate="@task.ExpirationDate"
                                  Comments="@task.Comments"
                                  teamName="@teamName"
                                  panelId="@panelId"
                                  TaskId="@task.TaskId"
                                  OnTaskDeleted="RefreshTasks"/>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p class="mt-5">Panel sin tareas.</p>
    }
</div>

@code {
    [Parameter]
    public string teamName { get; set; }
    [Parameter]
    public string panelId { get; set; }
    
    private List<Dominio.Task> Tasks;
    
    protected override void OnInitialized()
    {
        if (Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }
        RefreshTasks();
    }

    private void RefreshTasks()
    {
        Tasks = TkService.GetNonExpiredTasks(teamName, int.Parse(panelId));
    }
    
    private void CreateTask()
    {
        Navigation.NavigateTo($"/{teamName}/{panelId}/create");
    }

    private void GoToImport()
    {
        Navigation.NavigateTo($"/{teamName}/{panelId}/TaskImport");
    }
    
    private void GoBack()
    {
        Navigation.NavigateTo($"/{teamName}/panel");
    }

    private void DeletePanel()
    {
        PnService.RemovePanel(teamName, int.Parse(panelId));
    }
    
}