@page "/{teamName}/{panelName}/tasks"

@using Dominio.Data
@inject PanelDatabase PDatabase
@inject Session Session
@inject NavigationManager Navigation
<PageTitle>Equipos</PageTitle>

<div class="row">
    <h3>Equipos</h3>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" @onclick="CreateTask">Crear Nuevo Tarea</button>
    </div>
    @if (Tasks.Count != 0)
    {
        foreach (var task in Tasks)
        {
            if (task.ExpirationDate > DateTime.Today)
            {
                <TaskCard Title="@task.Title" 
                          Description="@task.Description" 
                          Precedence="@task.Precedence" 
                          EndDate="@task.ExpirationDate" 
                          Comments="@task.Comments" />
            }
        }
    }
    else
    {
        <p>Panel sin tareas.</p>
    }
</div>

@code {
    [Parameter]
    public string teamName { get; set; }
    [Parameter]
    public string panelName { get; set; }
    
    private List<Dominio.Task> Tasks;
    
    protected override void OnInitialized()
    {
        if (Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }
        Tasks = PDatabase.GetPanelByName(panelName).Tasks;
    }
    
    private void CreateTask()
    {
        Navigation.NavigateTo($"/{teamName}/{panelName}/create");
    }
    
}