@page "/{teamName}/modifyUsers"
@using Dominio
@using Dominio.Data
@inject IUserDatabase UDatabase
@inject ITeamService TmService
@inject Session Session
@inject NavigationManager Navigation
<PageTitle>ModifyTeamUsers</PageTitle>
<h3>Modificar usuarios del equipo</h3>

<div class="row">
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="Add">Agregar Usuarios</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="Delete">Eliminar Usuarios</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="GoBack">Volver</button>
    </div>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info" role="alert">
        @message
    </div>
}
@if (!string.IsNullOrEmpty(warningMessage)){
    <div class="alert alert-info" role="alert">
        @warningMessage
    </div>
}

@if (addUsers || deleteUsers)
{
    string thead;
    if (addUsers)
    {
        thead = "Agregar Usuario";
        userList = usersNotInTeam;
    }
    else
    {
        thead = "Borrar Usuario";
        userList = usersInTeam;
    }
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>@thead</th>
            <th>Nombre</th>
            <th>Mail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (User user in userList)
        {
            <tr>
                <td>
                    @if (addUsers)
                    {
                        <input type="checkbox" @onchange="e => ToggleSelectionAdd(user, e.Value)"/>
                    }
                    else
                    {
                        <input type="checkbox" @onchange="e => ToggleSelectionDelete(user, e.Value)"/>
                    }
                </td>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
        </tbody>
    </table>
    
    @if (SelectedUsersAdd.Count > 0 && addUsers)
    {
        <h4>Usuarios a agregar al equipo: (@SelectedUsersAdd.Count)</h4>
        <ul>
            @foreach (User user in SelectedUsersAdd)
            {
                <li>@user.Name (@user.Email)</li>
            }
        </ul>
        
        <button class="btn btn-primary" @onclick="AddSelectedUsers">Agregar usuarios</button>
    }
    
    @if (SelectedUsersDelete.Count > 0 && deleteUsers)
    {
        <h4>Usuarios a quitar del equipo: (@SelectedUsersDelete.Count)</h4>
        <ul>
            @foreach (User user in SelectedUsersDelete)
            {
                <li>@user.Name (@user.Email)</li>
            }
        </ul>
        
        <button class="btn btn-primary" @onclick="DeleteSelectedUsers">Quitar usuarios</button>
    }
    
}

@code {

    [Parameter]
    public string teamName { get; set; }
    
    private bool deleteUsers = false;
    private bool addUsers = false;
    
    private List<User> allUsers;
    private List<User> userList;
    private List<User> usersInTeam;
    private List<User> usersNotInTeam;
    public List<User> SelectedUsersAdd;
    public List<User> SelectedUsersDelete;
    
    private string message;
    private string warningMessage;

    protected override void OnInitialized()
    {
        if (!Session.IsAdmin)
        {
            Navigation.NavigateTo("/error");
        }

        UpdateUserLists();
    }

    private void ToggleSelectionAdd(User user, object isSelected)
    {
        bool selected = (bool)isSelected;
        if (selected)
        {
            SelectedUsersAdd.Add(user);
        }
        else
        {
            SelectedUsersAdd.Remove(user);
        }
    }
    
    private void ToggleSelectionDelete(User user, object isSelected)
    {
        bool selected = (bool)isSelected;
        if (selected)
        {
            SelectedUsersDelete.Add(user);
        }
        else
        {
            SelectedUsersDelete.Remove(user);
        }
    }
    
    private void Delete()
    {
        deleteUsers = true;
        addUsers = false;
        message = "Borrando usuarios.";
    }

    private void Add()
    {
        deleteUsers = false;
        addUsers = true;
        message = "Agregando usuarios.";
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"{teamName}/modify");
    }
    
    private void AddSelectedUsers()
    {
        Team team = TmService.GetTeamByName(teamName);
        if (SelectedUsersAdd.Count + team.MembersCount > team.MaxUsers)
        {
            warningMessage = "La cantidad de usuarios seleccionada y los miembros actuales " +
                             "del equipo superan la capacidad maxima.";
            return;
        }
        

        foreach (User user in SelectedUsersAdd)
        {
            team.TeamMembers.Add(user);
            team.MembersCount++;
        }
        
        message=$"{SelectedUsersAdd.Count} Usuarios agregados exitosamente a {team.Name}.";
        addUsers = false;
        UpdateUserLists();
    }
    
    private void DeleteSelectedUsers()
    {
        Team team = TmService.GetTeamByName(teamName);
        
        foreach (User user in SelectedUsersDelete)
        {
            team.TeamMembers.Remove(user);
            team.MembersCount--;
        }
        
        message=$"{SelectedUsersDelete.Count} Usuarios borrados exitosamente de {team.Name}.";
        deleteUsers = false;
        UpdateUserLists();
    }

    private void UpdateUserLists()
    {
        warningMessage = "";
        usersInTeam = new List<User>();
        usersNotInTeam = new List<User>();
        SelectedUsersAdd = new List<User>();
        SelectedUsersDelete = new List<User>();
        
        allUsers = UDatabase.GetUsers();
        foreach (var user in allUsers)
        {
            if (TmService.UserExistsInTeam(user.Email, teamName))
            {
                usersInTeam.Add(user);
            }
            else
            {
                usersNotInTeam.Add(user);
            }
        }
    }
    
    @*private void AddUserSelection(string email, object isSelected)
    {
        if ((bool)isSelected)
        {
            SelectedUsersAdd.Add(UDatabase.GetUserByEmail(email));
        }
    }
    private void DeleteUserSelection(string email, object isSelected)
    {
        if ((bool)isSelected)
        {
            SelectedUsersDelete.Add(UDatabase.GetUserByEmail(email));
        }
    }

    private void HandleAdd()
    {
        foreach (var user in SelectedUsersAdd)
        {
            TmService.AddUserToTeam(teamName, user.Email);
            usersInTeam.Add(user);
        }

        message = "Usuario/s Agregado/s";
    }
    private void HandleDelete()
    {
        foreach (var user in SelectedUsersDelete)
        {
            TmService.RemoveUserFromTeam(teamName, user.Email);
            usersNotInTeam.Add(user);
        }
        message = "Usuario/s Eliminado/s";
    }*@
}